<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliasNames</key>
	<dict>
		<key>ODLBPathItem:/</key>
		<string>Root /</string>
		<key>ODLBPathItem:/Volumes</key>
		<string>Mounted Volumes</string>
		<key>ODLBPathItem:/usr/bin</key>
		<string>usr/bin</string>
		<key>ODLBPathItem:/usr/local</key>
		<string>usr/local</string>
		<key>ODLBPathItem:/usr/local/bin</key>
		<string>usr/local/bin</string>
		<key>ODLBPathItem:/usr/sbin</key>
		<string>usr/sbin</string>
	</dict>
	<key>disabledItems</key>
	<array>
		<string>ODLBCategory:SpeechService.service Service</string>
		<string>ODLBPathItem:/System/Applications/Automator.app</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Digital Color Meter.app</string>
		<string>ODLBBookmarkGroup:3</string>
		<string>ODLBBookmarkGroup:2</string>
		<string>ODLBPathItem:/System/Applications/Mission Control.app</string>
		<string>ODLBCategory:Board Game</string>
		<string>ODLBCategory:GitX Service</string>
		<string>ODLBCategory:Dictionary Service</string>
		<string>ODLBPathItem:/System/Library/CoreServices/Applications/Folder Actions Setup.app</string>
		<string>ODLBPathItem:@/Contents/Resources/Action Editor.app</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Terminal.app</string>
		<string>ODLBPathItem:~/VirtualBox VMs</string>
		<string>ODLBCategory:Business Application</string>
		<string>ODLBCategory:Safari Service</string>
		<string>ODLBCategory:Music Application</string>
		<string>ODLBCategory:Calendar</string>
		<string>ODLBPathItem:/Applications/Self Service.app</string>
		<string>ODLBCategory:ChineseTextConverter Service</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Migration Assistant.app</string>
		<string>ODLBCategory:TextEdit Service</string>
		<string>ODLBCategory:Printer</string>
		<string>ODLBCategory:Script Editor Service</string>
		<string>ODLBCategory:Font Book Service</string>
		<string>ODLBCategory:Web History Item</string>
		<string>ODLBCategory:Snippet</string>
		<string>ODLBPathItem:/System/Applications/Mail.app</string>
		<string>ODLBCategory:Bluetooth File Exchange Service</string>
		<string>ODLBCategory:Utility</string>
		<string>ODLBCategory:Preference Pane</string>
		<string>ODLBCategory:Sourcetree Service</string>
		<string>ODLBCategory:Reminder List</string>
		<string>ODLBPathItem:/System/Library/CoreServices/Applications/Screen Sharing.app</string>
		<string>ODLBPathItem:/System/Applications/Image Capture.app</string>
		<string>ODLBCategory:Grab Service</string>
		<string>ODLBPathItem:/System/Applications/Launchpad.app</string>
		<string>ODLBCategory:Skin Colored Emoji</string>
		<string>ODLBCategory:ImageCapture Service</string>
		<string>ODLBCategory:Calendar (read-only)</string>
		<string>ODLBCategory:Theme</string>
		<string>ODLBCategory:Photography Application</string>
		<string>ODLBCategory:SystemUIServer Service</string>
		<string>ODLBCategory:Video Application</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Grapher.app</string>
		<string>ODLBCategory:Workflow</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Bluetooth File Exchange.app</string>
		<string>ODLBCalendarItem:951135C2-42E5-44A1-975A-6A757E2589A9</string>
		<string>ODLBPathItem:/System/Applications/Stickies.app</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Script Editor.app</string>
		<string>ODLBPathItem:/System/Applications/Time Machine.app</string>
		<string>ODLBPathItem:/Applications/Dashboard.app</string>
		<string>ODLBPathItem:/Applications/Utilities/Grab.app</string>
		<string>ODLBCategory:Travel Application</string>
		<string>ODLBCategory:Entertainment Application</string>
		<string>ODLBCategory:iTerm Service</string>
		<string>ODLBPathItem:/System/Applications/Siri.app</string>
		<string>ODLBPathItem:/System/Applications/Chess.app</string>
		<string>ODLBPathItem:/System/Library/CoreServices/Applications/Wireless Diagnostics.app</string>
		<string>ODLBPathItem:/System/Library/CoreServices/Installer.app</string>
		<string>ODLBPathItem:/System/Library/CoreServices/HelpViewer.app</string>
		<string>ODLBCategory:Fantastical 2 Service</string>
		<string>ODLBCategory:SophosUIServer Service</string>
		<string>ODLBPathItem:/System/Library/CoreServices/Applications/RAID Utility.app</string>
		<string>ODLBCategory:Social Networking Application</string>
		<string>ODLBPathItem:/Applications/DVD Player.app</string>
		<string>ODLBCategory:Non App Store Application</string>
		<string>ODLBPathItem:/System/Applications/Utilities/VoiceOver Utility.app</string>
		<string>ODLBCategory:Mail Service</string>
		<string>ODLBCategory:Reference Application</string>
		<string>ODLBPathItem:/System/Library/CoreServices/Ticket Viewer.app</string>
		<string>ODLBPathItem:/Applications/Sophos Anti-Virus.app</string>
		<string>ODLBPathItem:/System/Applications/Photo Booth.app</string>
		<string>ODLBCategory:Search Template</string>
		<string>ODLBCategory:Developer Tool</string>
		<string>ODLBCategory:Automator Service</string>
		<string>ODLBCategory:Evernote Service</string>
		<string>ODLBCategory:Airmail 3 Service</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Audio MIDI Setup.app</string>
		<string>ODLBPathItem:/Applications/Remove Sophos Endpoint.app</string>
		<string>ODLBCalendarItem:44C4CE34-B744-4B72-81D4-28E59109D44E</string>
		<string>ODLBCategory:Folder Actions Setup Service</string>
		<string>ODLBCategory:Summary Service</string>
		<string>ODLBCategory:Text File</string>
		<string>ODLBCategory:Emoji Category</string>
		<string>ODLBCategory:Preview Service</string>
		<string>ODLBCategory:Productivity Application</string>
		<string>ODLBCategory:App Store Application</string>
		<string>ODLBCategory:Scriptable Application</string>
		<string>ODLBCategory:Education Application</string>
		<string>ODLBCategory:Tag</string>
		<string>ODLBCategory:Emoji</string>
		<string>ODLBPathItem:/System/Applications/Utilities/ColorSync Utility.app</string>
		<string>ODLBPathItem:/System/Applications/Utilities/Boot Camp Assistant.app</string>
		<string>ODLBCategory:Service</string>
		<string>ODLBCategory:Stickies Service</string>
		<string>ODLBCategory:Finder Service</string>
	</array>
	<key>itemIdentifierVersion</key>
	<integer>6</integer>
	<key>rules</key>
	<array>
		<dict>
			<key>className</key>
			<string>ODLBDockRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBContactsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBSafariReadingListRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBPrefPanesRule</string>
		</dict>
		<dict>
			<key>abbreviatedPath</key>
			<string>~/Documents</string>
			<key>className</key>
			<string>ODLBFolderContentsRule</string>
			<key>skipQualifiers</key>
			<array>
				<string>iTunes Music</string>
			</array>
			<key>subsearchOnly</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBSnippetsRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>Search Templates (UTF-8)</string>
			<key>className</key>
			<string>ODLBSearchTemplatesRule</string>
			<key>enabled</key>
			<integer>0</integer>
			<key>templates</key>
			<array>
				<dict>
					<key>name</key>
					<string>Abbreviation Search</string>
					<key>templateURL</key>
					<string>x-launchbar:select?abbreviation=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amazon Deutschland</string>
					<key>templateURL</key>
					<string>http://www.amazon.de/s?ie=UTF8&amp;index=blended&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amazon Deutschland (Bücher)</string>
					<key>templateURL</key>
					<string>http://www.amazon.de/s?ie=UTF8&amp;index=books&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amazon Deutschland (DVDs)</string>
					<key>templateURL</key>
					<string>http://www.amazon.de/s?ie=UTF8&amp;index=dvd&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amazon Deutschland (Musik)</string>
					<key>templateURL</key>
					<string>http://www.amazon.de/s?ie=UTF8&amp;index=music&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ask.com</string>
					<key>templateURL</key>
					<string>http://www.ask.com/web?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Bing</string>
					<key>templateURL</key>
					<string>https://www.bing.com/search?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Bing Images</string>
					<key>templateURL</key>
					<string>https://www.bing.com/images/search?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Convert EUR to USD</string>
					<key>templateURL</key>
					<string>http://www.oanda.com/currency/classic-converter?exch=EUR&amp;expr=USD&amp;value=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Convert USD to EUR</string>
					<key>templateURL</key>
					<string>http://www.oanda.com/currency/classic-converter?exch=USD&amp;expr=EUR&amp;value=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>DuckDuckGo</string>
					<key>templateURL</key>
					<string>https://duckduckgo.com/?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ebay</string>
					<key>templateURL</key>
					<string>http://search.ebay.com/*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Flickr</string>
					<key>templateURL</key>
					<string>https://www.flickr.com/search/?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Go to</string>
					<key>templateURL</key>
					<string>x-launchbar:select?file=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Blog Search</string>
					<key>templateURL</key>
					<string>http://blogsearch.google.com/blogsearch?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Exact Phrase</string>
					<key>templateURL</key>
					<string>https://www.google.com/search?q=%22*%22</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Face Search</string>
					<key>templateURL</key>
					<string>http://images.google.com/images?imgtype=face&amp;q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Groups</string>
					<key>templateURL</key>
					<string>http://groups.google.com/groups?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Images</string>
					<key>templateURL</key>
					<string>http://images.google.com/images?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Japan</string>
					<key>templateURL</key>
					<string>https://www.google.co.jp/search?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Maps</string>
					<key>templateURL</key>
					<string>https://maps.google.com/maps?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Google Video</string>
					<key>templateURL</key>
					<string>https://www.google.com/search?tbm=vid&amp;q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>last.fm</string>
					<key>templateURL</key>
					<string>http://www.last.fm/music/?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>LEO English-German Dictionary</string>
					<key>templateURL</key>
					<string>https://dict.leo.org/?search=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Lucky Google</string>
					<key>templateURL</key>
					<string>https://www.google.com/search?btnI&amp;q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mac OS X Hints</string>
					<key>templateURL</key>
					<string>http://www.macosxhints.com/search.php?query=*&amp;type=stories&amp;mode=search&amp;keyType=all</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MacUpdate</string>
					<key>templateURL</key>
					<string>https://www.macupdate.com/find/mac/*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Manual Page</string>
					<key>templateURL</key>
					<string>x-man-page://*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>OpenThesaurus</string>
					<key>templateURL</key>
					<string>http://www.openthesaurus.de/overview.php?search=1&amp;word=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search Amazon for Books</string>
					<key>templateURL</key>
					<string>http://www.amazon.com/s?ie=UTF8&amp;index=books&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search Amazon for DVDs</string>
					<key>templateURL</key>
					<string>http://www.amazon.com/s?ie=UTF8&amp;index=dvd&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search Amazon for Music</string>
					<key>templateURL</key>
					<string>http://www.amazon.com/s?ie=UTF8&amp;index=music&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search Amazon.com</string>
					<key>templateURL</key>
					<string>http://www.amazon.com/s?ie=UTF8&amp;index=blended&amp;keywords=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search iTunes Store</string>
					<key>templateURL</key>
					<string>itms://phobos.apple.com/WebObjects/MZSearch.woa/wa/search?term=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search iTunes Store for Album</string>
					<key>templateURL</key>
					<string>itms://phobos.apple.com/WebObjects/MZSearch.woa/wa/advancedSearchResults?albumTerm=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search iTunes Store for Artist</string>
					<key>templateURL</key>
					<string>itms://phobos.apple.com/WebObjects/MZSearch.woa/wa/advancedSearchResults?artistTerm=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search iTunes Store for Composer</string>
					<key>templateURL</key>
					<string>itms://phobos.apple.com/WebObjects/MZSearch.woa/wa/advancedSearchResults?composerTerm=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Search iTunes Store for Song</string>
					<key>templateURL</key>
					<string>itms://phobos.apple.com/WebObjects/MZSearch.woa/wa/advancedSearchResults?songTerm=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Technorati Search</string>
					<key>templateURL</key>
					<string>http://www.technorati.com/search/*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wolfram Alpha</string>
					<key>templateURL</key>
					<string>http://www.wolframalpha.com/input/?i=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yahoo!</string>
					<key>templateURL</key>
					<string>http://search.yahoo.com/search?p=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yahoo! Images</string>
					<key>templateURL</key>
					<string>http://images.search.yahoo.com/search/images?p=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yahoo! Japan</string>
					<key>templateURL</key>
					<string>http://search.yahoo.co.jp/search?ei=UTF-8&amp;p=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yahoo! Stock Quotes</string>
					<key>templateURL</key>
					<string>http://finance.yahoo.com/q?s=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yahoo! Video</string>
					<key>templateURL</key>
					<string>http://video.search.yahoo.com/search/video?p=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>YouTube</string>
					<key>templateURL</key>
					<string>https://www.youtube.com/results?search_query=*</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>abbreviatedPath</key>
			<string>~</string>
			<key>className</key>
			<string>ODLBFolderContentsRule</string>
			<key>subfolderLevels</key>
			<integer>0</integer>
			<key>typeCollectionIdentifier</key>
			<string>@folder</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBSafariTopSitesRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBCalendarsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBWorkflowsRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>abbreviatedSpecificPlaces</key>
			<array>
				<string>/Applications</string>
				<string>/System/Applications</string>
				<string>/System/Library/CoreServices</string>
				<string>~/Applications</string>
				<string>~/Library/Printers</string>
			</array>
			<key>className</key>
			<string>ODLBApplicationsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBSafariCloudTabsRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBMountedVolumesRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBMusicRule</string>
			<key>includeLovedSongsInBestOfLists</key>
			<integer>0</integer>
			<key>removeFormationFromArtistName</key>
			<integer>0</integer>
			<key>removeParenthesizedTextFromArtistName</key>
			<integer>0</integer>
			<key>splitArtists</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBTagsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBCloudDocumentsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBNetworkLocationsRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBThemesRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>aliasName</key>
			<string>Search Templates (ISO Latin 1)</string>
			<key>className</key>
			<string>ODLBSearchTemplatesRule</string>
			<key>defaultStringEncoding</key>
			<integer>5</integer>
			<key>enabled</key>
			<integer>0</integer>
			<key>templates</key>
			<array>
				<dict>
					<key>name</key>
					<string>Apple Developer Connection</string>
					<key>templateURL</key>
					<string>https://developer.apple.com/cgi-bin/search.pl?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Cocoa Mailing List Archive</string>
					<key>templateURL</key>
					<string>http://www.cocoabuilder.com/archive/search/1?l=cocoa&amp;q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Connect to Local AFP Server</string>
					<key>templateURL</key>
					<string>afp://*.local</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Excite</string>
					<key>templateURL</key>
					<string>http://msxml.excite.com/info.xcite/search/web/*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Internet Movie Database</string>
					<key>templateURL</key>
					<string>http://www.imdb.com/find?q=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Linguee</string>
					<key>templateURL</key>
					<string>http://www.linguee.de/search?direction=auto&amp;query=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Make TinyURL</string>
					<key>templateURL</key>
					<string>http://tinyurl.com/create.php?url=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Merriam-Webster Dictionary</string>
					<key>templateURL</key>
					<string>http://www.merriam-webster.com/cgi-bin/dictionary?book=Dictionary&amp;va=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Merriam-Webster Thesaurus</string>
					<key>templateURL</key>
					<string>http://www.merriam-webster.com/cgi-bin/thesaurus?book=Thesaurus&amp;va=*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>PHP Documentation</string>
					<key>templateURL</key>
					<string>http://www.php.net/*</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Xcode Mailing List Archive</string>
					<key>templateURL</key>
					<string>http://www.cocoabuilder.com/archive/search/1?l=xcode&amp;q=*</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBActionsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBCategoriesRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>abbreviatedPath</key>
			<string>_chromeBookmarksPath</string>
			<key>aliasName</key>
			<string>Chrome Bookmarks</string>
			<key>className</key>
			<string>ODLBBookmarksRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBEmojiRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBReminderListsRule</string>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBServicesRule</string>
		</dict>
		<dict>
			<key>abbreviatedPath</key>
			<string>_safariHistoryPath</string>
			<key>className</key>
			<string>ODLBHistoryRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>className</key>
			<string>ODLBUserAccountsRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>abbreviatedPath</key>
			<string>_safariBookmarksPath</string>
			<key>className</key>
			<string>ODLBBookmarksRule</string>
			<key>enabled</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>abbreviatedPath</key>
			<string>~/Desktop</string>
			<key>className</key>
			<string>ODLBFolderContentsRule</string>
		</dict>
	</array>
	<key>typeCollections</key>
	<array>
		<dict>
			<key>definition</key>
			<string>'RTF ', 'SLD8', 'TEXT', 'W6BN', 'W8BN', 'WDBN', 'XLS8', doc, docx, pps, ppsx, ppt, pptx, rtf, txt, xls, xlsx</string>
			<key>identifier</key>
			<string>4</string>
			<key>name</key>
			<string>MS Office Documents</string>
		</dict>
		<dict>
			<key>definition</key>
			<string>htm, html, htmld</string>
			<key>identifier</key>
			<string>1</string>
			<key>name</key>
			<string>HTML Files</string>
		</dict>
		<dict>
			<key>definition</key>
			<string>'CWWP', cwk</string>
			<key>identifier</key>
			<string>3</string>
			<key>name</key>
			<string>AppleWorks Documents</string>
		</dict>
		<dict>
			<key>definition</key>
			<string>c, cpp, h, java, m, nib, php, php3, php4, pl</string>
			<key>identifier</key>
			<string>2</string>
			<key>name</key>
			<string>Source Files</string>
		</dict>
	</array>
	<key>version</key>
	<integer>18</integer>
</dict>
</plist>
